<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Node_lab_20</title>
		<link rel="stylesheet" href="/styles.css"> 
		<title>Node_lab_20</title>
	</head>
	<body>
		<main>
			{{{body}}}
		</main>
	</body>
</html>